  /*LOGIN*/
  p {
    position: relative;
  }
  
  a,
  a:link,
  a:visited,
  a:active {
    color: #3ca9e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  a:focus,
  a:hover,
  a:link:focus,
  a:link:hover,
  a:visited:focus,
  a:visited:hover,
  a:active:focus,
  a:active:hover {
    color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  #login-form-wrap {
    width: 559px;
    height: 767px;
    flex-shrink: 0;
    background: #00583f;
    margin: 30px auto;
    padding: 20px 0 0 0;
    border-radius: 45px;
  }
  
  #login-form {
    padding: 0 60px;
    color: #7ba79a;
  }
  
  input {
    border-radius: 25px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
  }
  
  #email {
    color: #7ba79a;
    font-family: Inria Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #f5f5f5;
    flex: 1 0 0;
    padding: 19px;
    height: 90px;
    z-index: 3;
    position: relative;
    top: 105px;
  }
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #3ca9e2;
  }
  input[type="text"]:focus:invalid,
  input[type="email"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
  }
  input[type="text"]:valid ~ .validation,
  input[type="email"]:valid ~ .validation {
    display: block;
    border-color: #0c0;
  }
  input[type="text"]:valid ~ .validation span,
  input[type="email"]:valid ~ .validation span {
    background: #0c0;
    position: absolute;
    border-radius: 6px;
  }
  input[type="text"]:valid ~ .validation span:first-child,
  input[type="email"]:valid ~ .validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  input[type="text"]:valid ~ .validation span:last-child,
  input[type="email"]:valid ~ .validation span:last-child {
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
  }
  
  input[type="submit"] {
    color: #00583f;
    background: #7ba79a;
    height: 90px;
    width: 300px;
    text-align: center;
    font-family: Inria Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex: 1 0 0;
    position: relative;
    top: 190px;
    left: 70px;
    border-radius: 35px;
  }
  .password {
    color: #7ba79a;
    font-family: Inria Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #f5f5f5;
    flex: 1 0 0;
    padding: 19px;
    height: 90px;
    z-index: 3;
    position: relative;
    top: 105px;
  }
  
  input::-webkit-input-placeholder {
    color: #7ba79a;
  }


/*PROFILE*/
  
.profile-image2 {
    float: left;
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image2 img {
    border-radius: 50%;
}
.username2{
    display: flex;
    align-items: center;
    color: #00583F;    
    margin: 0 !important;
    font-family: Inria Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;       
}
.edit2{
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #7BA79A;
    color: #F5F5F5;
    text-align: center;
    font-family: Inria Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nameholder2{
    display: flex;
    flex-direction: column;

    margin-left: 30px;
    gap:0px;
}
.bio2{
    margin: 0 !important;
    color: #00583F;
}
:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.container2 {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}


.visually-hidden2 {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

@media screen and (max-width: 40rem) {
    

    .profile-bio2 {
        float: none;
        width: auto;
    }






    .profile-bio2 {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-bio2{
        flex-basis: 100%;
    }


}


.gallery2 {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item2 {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item2:hover .gallery-item-info2,
.gallery-item2:focus .gallery-item-info2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info2 {
    display: none;
}

.gallery-item-info2 li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes2 {
    margin-right: 2.2rem;
}

.gallery-item-type2 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}
.fa-clone2,
.fa-comment2 {
    transform: rotateY(180deg);
}
.info2{
    object-fit:cover;
}

.gallery-image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-bio2 {
    float: left;
    width: calc(66.666% - 2rem);
}
/* Loader */

.loader2 {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}

/* Media Query */



@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}


@supports (display: grid) {

    .gallery2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery-item2,
    .gallery2 {
        width: auto;
        margin: 0;
    }

}

@media (min-width: 0px) {
    .username2{
        font-size: 6.250vw;
    }
    .bio2{
        font-size: 5vw;
        height: 50%;
    }
    .profile-img2
    {
        width: 125%;
    }
    .edit2{
        width: 30%;
        height: 25%;
        padding: 10px 19px;
        gap: -19px;
        border-radius: 8px;
        font-size: 4vw;
    }
    .icon2{
        width:18.75%;
        height:18.75%;
    }
    .info2{
        width: 100%;
    }
    .container2
    {
        padding-top: 4.6%;
    }
    .profile-image2{
        padding-right: 5%;
    }
}

@media (min-width: 768px) {
    .profile-image2{
        padding-right: 3%;
    }
    .username2{
        font-size: 2.5vw;
    }
    .bio2{
        font-size: 2.083vw;
        height: 48%;
    }
    .profile-img2
    {
        width: 100%;
    }
    .edit2{
        width: 20%;
        height: 20.4%;
        padding: 10px 19px;
        gap: -19px;
        border-radius: 35px;
        font-size: 1.875vw;
    }
    .icon2{
        width:13%;
        height:13%;
    }
    .info2{
        width: 100%;
    }
    .container2
    {
        padding-top: 4.6%;
    }
}

@media (min-width: 992px) { }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }

/*REGISTER*/





#singup-form-wrap3 {
  width: 559px;
  height: 767px;
  flex-shrink: 0;
  background: #00583f;
  margin: 30px auto;
  padding: 20px 0 0 0;
  border-radius: 45px;
}

#singup-form3 {
  padding: 0 60px;
  color: #7ba79a;
}

#registerinput {
  border-radius: 25px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #3ca9e2;
}
input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid {
  color: #cc1e2b;
  border-color: #cc1e2b;
}
input[type="text"]:valid ~ .validation,
input[type="email"]:valid ~ .validation {
  display: block;
  border-color: #0c0;
}
input[type="text"]:valid ~ .validation span,
input[type="email"]:valid ~ .validation span {
  background: #0c0;
  position: absolute;
  border-radius: 6px;
}
input[type="text"]:valid ~ .validation span:first-child,
input[type="email"]:valid ~ .validation span:first-child {
  top: 30px;
  left: 14px;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="text"]:valid ~ .validation span:last-child,
input[type="email"]:valid ~ .validation span:last-child {
  top: 35px;
  left: 8px;
  width: 11px;
  height: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.validation3 {
  display: none;
  position: absolute;
  content: " ";
  height: 60px;
  width: 30px;
  right: 15px;
  top: 0px;
}

#login3 {
  color: #00583f;
  background: #7ba79a;
  height: 90px;
  width: 300px;
  text-align: center;
  font-family: Inria Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex: 1 0 0;
  position: relative;
  top: 20px;
  left: 70px;
  border-radius: 35px;
}

#email3{
  color: #7ba79a;
  font-family: Inria Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f5f5f5;
  height: 70px;
  z-index: 3;
  position: relative;
  top: 1px;
}

#Last3{
  color: #7ba79a;
  font-family: Inria Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f5f5f5;
  height: 70px;
  z-index: 3;
  position: relative;
  top: 5px;
}

#First3{
  color: #7ba79a;
  font-family: Inria Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f5f5f5;
  height: 70px;
  z-index: 3;
  position: relative;
  top: 5px;
}

#Phone3{
  color: #7ba79a;
  font-family: Inria Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f5f5f5;
  height: 70px;
  z-index: 3;
  position: relative;
  top: 5px;
}

#Type3{
  color: #7ba79a;
  font-family: Inria Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f5f5f5;
  height: 70px;
  width: 439px;
  z-index: 3;
  border-radius: 25px;
  position: relative;
  top: 5px;
}

#password3 {
  color: #7ba79a;
  font-family: Inria Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f5f5f5;
  height: 70px;
  z-index: 3;
  position: relative;
  top: 5px;
}


input::-webkit-input-placeholder {
  color: #7ba79a;
}


/*Post*/
/*Post*/
/*Post*/
/*Post*/
/*Post*/
/*Post*/





.bodyp ::-webkit-input-placeholder { /* WebKit browsers */
  color:#7BA79A;
}

.bodyp .name1 {
  resize: none;
  font-size: 36px;
  position: absolute;
  left: 56.5%;
  border: solid #00583f;
  margin-top: 13%;
  padding-top: 0.5%;
  padding-left: 0.5%;
  padding-bottom: 0.5%;
  padding-right: 0.5%;
}

.bodyp .pole1 {
  resize: none;
  font-size: 36px;
  width: 32.05%;
  margin-top: 19%;
  /* color: #7BA79A; */
  position: absolute;
  left: 56.5%;
  border: solid #00583f;
  padding-top: 0.5%;
  padding-left: 0.5%;
  padding-bottom: 0.5%;
  padding-right: 0.5%;
}

.bodyp .description1 {
  resize: none;
  font-size: 36px;
  position: absolute;
  margin-top: 7%;
  left: 56.5%;
  border: solid #00583f;
  padding-top: 0.5%;
  padding-left: 0.5%;
  padding-bottom: 0.5%;
  padding-right: 0.5%;
}

.bodyp .img{
  position: absolute;
  top: 35%;
  left: 22%;
  width: 30%;
}

.bodyp .label1 > input[type=file] {
  display: none;
  
}

.bodyp .back1{
  background:#00583F; 
  width: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: absolute;
  left:2% ;
  top:9%;
  border-radius: 35px;
}

.bodyp .his {
  border: solid #F5F5F5;
  border-width: 0 1px 1px 0;
  position: absolute;
  background: none;
  left:3% ;
  top: 10%;
  z-index: 3;
  width: 1%;
  height: 2%;
  display: inline-block;
  padding: 3px;
  transform: rotate(130deg);
}





/*Post*/
/*Post*/
/*Post*/
/*Post*/
/*Post*/
